*{
	margin: 0;	
}

.grid-long{
	position: relative;
	width: 346px;
	height: 185px;
}

.black-background{
	background-color: black;
	opacity: .3;
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
}

.black-contents{
	position: absolute;
	bottom: 0;
	color: white;
}

.black-contents figure{
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
	height: 50px;
}

.black-contents .text-wrap, .black-contents img{
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}
