body{
	margin: 0;
	min-width: 720px;
}

a{
	color : white;
	text-decoration: none;
}

header{
	color: white;
	position: relative;
	min-width: 720px;
}

li{
	padding: 0 30px 0 0;
	list-style: none;
	display: inline-block;
}

span{
	color: aqua;
}

ul{
	margin-right: 50px;
}


.video-background{
	z-index: -1;
	position: relative;
}

.header-front{
	width: 100%;
	height : 100%;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

a:hover{
	color: aqua;
}

nav{
	padding: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}



/*lower-part*/


.call-to-action{
	position: relative;
}

.container{
	margin : 0 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.call-to-action .container > *{
	margin-top : 70px
}

button{
	width: 250px;
	height: 50px;
	border-radius: 25px;
	background-color: #999;
	color : white;
	border : 0;
}

button:hover{
	background-color: #0093ff;
}

.call-to-action img{
	max-width: 800px;
	min-width: 400px;
	width: 75%;
	height: auto;
}

.call-to-action p{
	color: #999;
	line-height: 30px;
	text-align: center;
}

.bottom-background{
	position:  absolute;
	bottom: 0;
	z-index: -1;
	height: 30%;
	width: 100%;
	background-color: #ccc; 

}


/*video*/

/* img, video 요소에 설정 */
.rwd-image, .rwd-video {
  width: 100%;
  max-width: 100%; /* 비트맵 이미지의 경우 이미지 자체 크기보다 커지지 않게 설정 */
  height: auto;
}

/* iframe, embed, object 부모 요소에 설정 */
.rwd-media {
  overflow: hidden;
  position: relative;
  max-width: 100%;
  height: 0 !important;
  min-width: 720px;
}

/* 영상 화면 비율에 따른 멀티 클래스 */
.rwd-media.is-4x3  { padding-top: calc(3/4*100%);  }
.rwd-media.is-16x9 { padding-top: calc(9/16*100%); }
.rwd-media.is-21x9 { padding-top: calc(9/21*100%); }

/* .rwd-media 내부 iframe, embed, object 요소 설정 */
.rwd-media iframe,
.rwd-media object,
.rwd-media embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

